---
import Icon from 'astro-icon';
---

<div class="flex items-center justify-between px-5 py-10">
    <h1 class="font-montreux text-3xl italic text-gray-200">KN</h1>
    <Icon class="text-gray-300 w-9" name="ph:hamburger-thin"/>
</div>