---
import Header from '../components/Header.astro';
import '../styles/global.css'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="//db.onlinewebfonts.com/c/2ce69e4c9965538c428a9c764de2db0c?family=Montreux+C" rel="stylesheet" type="text/css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-[#222831]">
		<Header/>
		<div class="cursor hidden sm:block drop-shadow-lg"></div>
		<div class="cursor-inner hidden sm:block drop-shadow-lg"></div>
		<slot />
		<script>
			
			const cursor = document.querySelector('.cursor');
			const cursorInner = document.querySelector('.cursor-inner');

			document.addEventListener('mousemove', e =>{
				cursor.setAttribute("style","top: "+(e.pageY - 15)+"px; left:"+(e.pageX - 15)+"px; ");
				cursorInner.setAttribute("style","top: "+(e.pageY)+"px; left:"+(e.pageX)+"px; ")
			});

		</script>
	</body>
</html>
