---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-[#020A13]">
		<div class="noisy -z-50"></div>
		<Header/>
		<div class="cursor hidden sm:block drop-shadow-lg"></div>
		<div class="cursor-inner hidden sm:block drop-shadow-lg"></div>
		<slot />
		<Footer/>
		<style is:global>
			@font-face {
				font-family: 'PorticoOutline';
				src: url('/fonts/portico-outline.otf') format('opentype');
			}
			@font-face{
				font-family: 'Montreux C';
				src: url('/fonts/Montreux.ttf') format('truetype');
			}
		</style>
		<script>
			
			const cursor = document.querySelector('.cursor');
			const cursorInner = document.querySelector('.cursor-inner');
			const navLinks = document.querySelectorAll('a')

			document.addEventListener('mousemove', e =>{
				cursor.setAttribute("style","top: "+(e.pageY - 10)+"px; left:"+(e.pageX - 10)+"px; ");
				cursorInner.setAttribute("style","top: "+(e.pageY +3)+"px; left:"+(e.pageX + 3)+"px; ")
			});

			navLinks.forEach(link => {
				link.addEventListener('mouseover', () => {
					cursor.classList.add('link-grow');
					cursorInner.classList.add('hide');
				});
				link.addEventListener('mouseleave', () => {
					cursor.classList.remove('link-grow');
					cursorInner.classList.remove('hide');
				});
			});

		</script>
	</body>
</html>
